.cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
#cart-content{
    max-height: 80%;
}
.cart .corbag{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.cart.showw {
    transform: translateX(0%);
}
.cart .content{
    text-align: center;
}

.cart .price{
    font-weight: 700;
    margin: 0;
}


.cart .bagtamanho{
    color: #a0a0a0;
    margin: 0;
    font-weight: 700;
}
.close-btn {
    position: absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
}
.cart .cartbags{
    margin-top: 20px;
    border: 2px solid #C8C8C8 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart .cartbags img{
    width: 150px;
}
@media screen and (max-width: 675px) {
    .cart {
    width: 80%;
    }
}

