.stock-container {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
  .file-uploader {
    /* make it invisible */
    opacity: 0;
    /* make it take the full height and width of the parent container */
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* make it absolute positioned */
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .upload-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* initial icon state */
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
  }
  
  .profile-picture {
    z-index: -1000;
    opacity: 1;
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url('https://lelwhxghwolrpmrkeeuw.supabase.co/storage/v1/object/public/imagens/image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    -webkit-background-size: contain;
    -moz-background-size: contain; 
    -o-background-size: contain; 
    border: 1px solid #ebebeb;
}

  
  /* toggle icon state */
  .profile-picture:hover .upload-icon {
    opacity: 1;
  }
.inputPesquisa{
    margin: 10px 0px;
    background-color: #ebebeb;
    align-items: center;
    display: flex;
}
.inputPesquisa img{
    margin: 10px;
    width: 20px;
    height: 20px;
}
.adicionarmodal{
    border-radius: 5px;
    background-color: black;
    font-weight: 700;
    color: #ffffff;  
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px 0px;
    padding: 10px 20px;
}
.adicionarmodal:hover{
    transition: all 0.3s;
    color: black;
    background-color: #ddd;
}
.buttonCenter{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.buttonCenter input{
    background-color: #ebebeb;
    border: none;
    padding: 10px;
}
.buttonCenter input:focus{
    outline: none;
}
.admin-container {
  display: flex;
}
.add-item {
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 200px;
    width: 20%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(88, 30, 30, 0.1);
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    border: none;
}
.add-item span{
    cursor: pointer;
    position: absolute;
    top: 30;
    right: 20px;
}
.add-item.showed{
    transform: translateX(0%);
}
.stock-container h2 {
  text-align: center;
}
.items-list{
  width: 90%;
  margin: 0 auto;
    overflow-y: auto;
    display: block;
}
.items-list table {
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
}
.add-item input {
  margin: 5px 0px;
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
}
.add-item button {
  background-color: green;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  margin: 20px 0px;
  width: 100%;
}
.add-item button:hover {
    cursor: pointer;
  }
.items-list th,
.items-list td {
  padding: 3px;
  border: 1px solid #ddd;
  text-align: center;
}

.items-list th {
  background-color: #f2f2f2;
}

.items-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.items-list tbody tr:nth-child(odd) {
  background-color: #fff;
}

.items-list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width: 1250px) {
  .items-list{
    max-height: 80vh;
  }
}
@media screen and (max-width: 776px) {
  .stock-container {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}
@media screen and (max-width: 570px) {
    .buttonCenter{
      display: flex;
      flex-direction: column;
    }
    .inputPesquisa{
      justify-content: space-between;
    }
}