.container_nc{
    margin-top: 50px;
}

.container_nc h1{
    text-align: center;
    font-size: 30px;
}

.collection{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}
.card{
    width: 322px;
    margin: 0px auto 30px auto;
   text-align: center;
   cursor: pointer;
}
.card:hover{
    filter: brightness(0.6);
    transition: 0.2s;
}

.card img{
    width: 300px;
    height: 350px;
    
}
.card .brand{
    text-align: left;
    font-size: 20px;
    margin-top: -10px;
}
.card .category{
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
    color: #929292;
}
.card .price{
    text-align: left;
    font-size: 15px;
    margin-top: -15px;
    color: #929292;
}
.Link{
    text-decoration: none;
    color: black;
}
.new_collection_img{
    background-color: #F4F4F4; 
}