.edit-profile-container {
    display: flex; 
}

.edit {
    width: 1600px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
}
.Titulo{
    font-size: 25px;
}
.Titulo img{
    width: 150px;
    height: 150px;
    border: solid;
    border-color: black;
    border-radius: 50%;
}
.editar button{
    border: none;
    width: 120px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.inputs{
    width: 300px;
    margin: 0 auto;
}
.inputs input{
    height: 40px;
    width: 300px;
    font-size: 20px;
}
.inputs p{
    text-align: left;
    font-size: 20px;
}
.botao_edit{
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}