.logo{
    text-align: center;
    margin-top: 30px;
}

.container{
    display: flex;
     gap: 50px;
    text-align: center;
     color: white;
     justify-content: center;
}


.mulher{
    width:400px;
    height:700px;
    background-color: #A4A4A4;
    transition: all 0.3s;

}

.imagem_mulher{
    width:350px;
    margin-top: 20px;
    height: 550px;
}

.homem{
    width:400px;
    height:700px;
    background-color: black;
    transition: all 0.3s;

}
.homem:hover{
    transition: all 0.3s;
    transform: scale(1.08);
}
.mulher:hover{
    transition: all 0.3s;
    transform: scale(1.08);
}

.imagem_homem{
    width:350px;
    margin-top: 20px;
    height: 550px;
}

.tipo{
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 5px;
    color: white;
}

.link{
    text-decoration: none;
    transition: all 0.3s;
}
@media screen and (max-width: 885px) {
    .tipo{
        padding: 5px;
        font-size: 5vw;
        margin: 0;
    }
    .container{
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .link{
        width: 90%;
        margin: 0 auto;
        text-decoration: none;
        transition: all 0.3s;
    }
    .mulher{
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .homem{
        height: auto;
        width: 90%;
        margin: 0 auto;
    }
    .imagem_homem{
        width:80%;
        margin-top: 20px;
        height: auto;
    }
    .imagem_mulher{
        width:80%;
        margin-top: 20px;
        height: auto;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        margin: 0 auto;
        width: 60%;
    }
}
@media screen and (max-width: 500px) {
    .tipo{
        font-size: 50px;
        margin: 0;
    }
    .container{
        width: auto;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .link{
        width: 90%;
        margin: 0 auto;
        text-decoration: none;
        transition: all 0.3s;
    }
    .mulher{
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .homem{
        height: auto;
        width: 90%;
        margin: 0 auto;
    }
    .imagem_homem{
        width:80%;
        margin-top: 20px;
        height: auto;
    }
    .imagem_mulher{
        width:80%;
        margin-top: 20px;
        height: auto;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        margin: 0 auto;
        width: 90%;
    }
}